@tailwind base;
@tailwind components;
@tailwind utilities;

/* buttons */
.btn-primary {
  @apply px-2 md:px-16 bg-white text-black py-2 hover:bg-primary-light transition-all;
}

/* Custom Fonts  */
@font-face {
  font-family: "gillsansmt";
  src: url("./assets/fonts/gillsansmt.woff2") format("woff2"), url("./assets/fonts/gillsansmt.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
